#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
body {
  color: black;
}
input {
  color: rgb(255, 255, 255);
  background-color: gainsboro;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 8px;
  padding: 10px 15px;
}
.cart-logo img {
  width: 400px;
  border: black 2px solid;
  border-radius: 5px;
}
.cart-input {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
input:focus {
  outline: none;
  border: none;
}
.cart-items {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.cart-item {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  border-bottom: 1px solid grey;
}
.cart-item input {
  margin-right: 20px;
}
.delete-button {
  background-color: transparent;
  color: red;
  padding: 0px;
  margin-left: 20px;
}
