
.send-button {
  background-color: rgb(25, 135, 84);
  color: white;
  padding: 12px 20px;
  border: none;
  margin-left: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.chat-input {
  padding: 12px 20px;
  border-radius: 10px;
  border-width: 1px;
  font-size: 15px;
  flex-grow: 1;
}
.chat-input-container {
  display: flex;
  margin-bottom: 20px;
}
.app-container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.chat-message-robot {
  display: flex;
  align-items: center;
  justify-content: start;
  max-width: 300px;
}
.chat-message-user {
  display: flex;
  align-items: center;
  justify-content: end;
}
.chat-message-text {
  background-color: rgb(238, 238, 238);
  padding: 12px 20px;
  border-radius: 10px;
  margin: 10px;
  font-size: 18px;
}
.chat-messages-container {
  overflow: scroll;
  flex-grow: 1;
  scrollbar-width: none;
}
